<<<<<<< HEAD
*, *::before, *::after {
  box-sizing: border-bix;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #5eaaa8, #eb5e0b);
  min-height: 100vh;
  position: relative;
}

.header {
  color:rgba(255, 255, 255, 1);
  font-size: 3rem;
  text-align: center;
  padding: 60px 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid >button:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}

footer {
  color:rgba(255, 255, 255, 1);
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
=======
*, *::before, *::after {
  box-sizing: border-bix;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #5eaaa8, #eb5e0b);
  min-height: 100vh;
  position: relative;
}

.header {
  color:rgba(255, 255, 255, 1);
  font-size: 3rem;
  text-align: center;
  padding: 60px 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid >button:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}

footer {
  color:rgba(255, 255, 255, 1);
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
>>>>>>> ed516d834d4be7f59867bfeda1d63e6abbd109a6
}